/*
    Global element styles
*/
body {
  background: #000;
  color: #666;
}

a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, p {
  color: #666;
}


/*
    Global classes and IDs
*/
.intro_text {
  letter-spacing: 2px;
}

.notice {
  color: orange;
}

div#logo_container {
  width: 500px;
}
#logo_container img.small{
  width: 110px;
}

.centered_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img.centered_image {
  display: block;
  margin: 0 auto;
}

#footer {
  
}
p.copyright {
  color: #000;
}